body{
    margin: 20px;
    background-color: #1064B1;
    text-align: center;
    align-items: center;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.screen2{
    margin-top: 20px;
}

.container{
    margin-top: 20px;
}

.screen3{
    margin-top: 20px;
    align-items: center;
    
}

.container1{
    background-color: white;
    margin-top: 20px;
    font-size: 28px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container2{
    background-color: white;
    margin-top: 20px;
    font-size: 24px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container3{
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}





